.jumbotron{
	text-align: center;
	padding-bottom: 0px;
	padding-top: 50px;
}
.col-xs-8, col-xs-offset-2 col-md-8, col-md-offset-2{
	padding: 0px;
}

.ImgContenido{

}
.row p{
	text-align: left;;
	text-align: left;;
	padding-bottom: 40px;
}
.footer{
	border-top: solid;
	border-width: 1px;
	border-color: #C0C0C0;
	margin-top: 500px;
}
.footer p{
	padding-left: 10px;
	padding-top: 50px;
}

td, th{
	text-align: center;
}
.panel-heading h3{
 text-align: center;
}

.carousel-inner {
	 text-align: center;
}
.carousel .item > img {
	display: inline-block;
	}

	.carousel-control.left, .carousel-control.right {
		background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, transparent 100%);
	}
li{
	list-style-type: none;
	text-align: center;

}


ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
}
.col-lg-4 {
    margin-bottom: 20px;
    text-align: center;
}
.imagen{
	padding-left: 0px;
	max-height: 99%;
}
.noticias-element{
	align:left;
	margin-bottom: 0px;
	padding-left: 0px;
}
.gris{
	background-color: rgb(120, 129, 122);
}
.contenedor-txt{
	height: 100%;
	min-height: 192px;
}

.noticiaTitulo{
	color: #fafafa;
	background-color: #337ab7;
	text-align: center;
	padding: 15px;
	border-radius: 4px;

}

#noticiaIndividual:hover{
	background-color: rgb(242, 242, 242);
	border-radius: 4px;

}
#noticiaIndividual img{
 	width: auto;
	height: auto;
}
#noticiaIndividual p{
	text-align: center;
}
#noticiaIndividual{
	text-align: center;
}
#saludarAdmin{
	color: white;
}
.btnEnviarConEstrellas > *{
	display: inline-block;
}

/*----- estrellas -----*/
#estrellas p {
  text-align: center;
}

#estrellas label {
  font-size: 20px;
}

input[type="radio"] {
  display: none;
}

label {
  color: grey;
}

.clasificacion {
  direction: rtl;
  unicode-bidi: bidi-override;
}

label:hover,
label:hover ~ label {
  color: orange;
}

input[type="radio"]:checked ~ label {
  color: orange;
}
